DEEPGRAM_API_KEY=

GOOGLE_AUTH_MODE=service_account
GOOGLE_SERVICE_ACCOUNT_FILE=/app/secrets/service-account.json

SOURCE_DRIVE_FOLDER_ID=1zS39e71BqRinq2HXpdK81dU7bTgIGdoW
DESTINATION_DRIVE_FOLDER_ID=1W7Sq-VoNNnAiUes1wZEO9MK_eIt58Uxs

POLL_INTERVAL_SECONDS=300
TMP_DIR=/app/tmp
STATE_FILE=/app/data/processed_files.json

DEEPGRAM_MODEL=nova-3
DEEPGRAM_LANGUAGE=pt-BR
DEEPGRAM_SMART_FORMAT=true
DEEPGRAM_PUNCTUATE=true
DEEPGRAM_DIARIZE=true
DEEPGRAM_UTTERANCES=true
